<template name="ClientInfo">
	<head lang="en">
    <meta charset="UTF-8">
    <title>Realtalk Info Page</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/RealtorSideBar.css">
</head>
<body>

		<br>
		<br>
		<br>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		    <div class="navbar-header" style="width:100%;">
		        <div class="container-fluid" style="width:100%">
		            <div class="navbar-brand" style="width:100%">
		                <img src='img/realtalk4size.png' style="height:45px;margin-left:auto;margin-right:auto;margin-top:-10px">
		            </div>
		        </div>
		    </div>
		</div>

		<div class="row max-width" style="margin:0px">
			<a href="#"><img src="/img/stow.png" id="surveyButton" class="btn-thrd"></a>
			<a href="#"><img src="/img/scoo.png" id="infoButton" class="btn-thrd"></a>
		</div>
		<div class="row max-width">
			<h2 class="btn-thrd" style="margin:auto;display:inline-block">Shopping</h2>
			<h2 class="btn-thrd" style="margin:auto;display:inline-block">Schools</h2>
		</div>

		<div class="row max-width" style="margin:0px">
			<a href="#"><img src="/img/loco.png" id="surveyButton" class="btn-thrd"></a>
			<a href="#"><img src="/img/review.png" id="infoButton" class="btn-thrd"></a>
		</div>
		<div class="row max-width">
			<h2 class="btn-thrd" style="margin:auto;display:inline-block">Travel</h2>
			<h2 class="btn-thrd" style="margin:auto;display:inline-block">Review</h2>
		</div>

		<div class="row max-width" style="margin:0px">
			<a href="#"><img src="/img/foo.png" id="surveyButton" class="btn-thrd"></a>
			<a href="#"><img src="/img/mobileinfo.png" id="infoButton" class="btn-thrd"></a>
		</div>
		<div class="row max-width">
			<h2 class="btn-thrd" style="margin:auto;display:inline-block">Food</h2>
			<h2 class="btn-thrd" style="margin:auto;display:inline-block">Info</h2>
		</div>
		<style>

	.row.maxwidth{
		margin-left:0px;
		margin-right:0px;
	}
	.max-width{
		max-width:100%;
	}
	.btn-thrd{
		width:40%;
	}
	.housePic{
		max-width:90%;
	}
	.address{
		max-width:80%;
		margin:auto;
		margin-top:10px;
		color:#000;
	}
	.large{
		width:80%;
	}
	</style>
	</body>
</template>