
<template name="Realtor">
<head lang="en">
    <meta charset="UTF-8">
    <title>realtalk Admin Page</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/RealtorSideBar.css">
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header" style="width:100%;padding:0px 100px 0px 100px;">
        <div class="container-fluid" style="width:100%">
            <div class="navbar-brand navbar-left">
                <img src='img/realtalk4size.png' style="height:45px;margin-top:-10px">
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <div class="navbar-form navbar-right">
                    <div id="userName" class="form-group" style="color:#fff;padding-top:7px;"></div>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar" style="position: fixed;">
            <ul class="nav nav-sidebar">
                <li><p>Listings</p><button type="button" id="createListingButton" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Create</button></li>
            </ul>
            {{> listing_list}}
        </div>
    </div>
        <form id="createListingForm" class="form-horizontal" style="display:none">
            <fieldset style="padding-top:100px">

            <!-- Form Name -->
            <div class="form-group">
              <label class="col-md-4 control-label" for=""></label>  
              <div class="col-md-8">
            <legend>Form Name</legend>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="addressInput">Address</label>  
              <div class="col-md-8">
              <input id="addressInput" name="addressInput" type="text" placeholder="Address" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="priceInput">Price</label>  
              <div class="col-md-4">
              <input id="priceInput" name="priceInput" type="text" placeholder="$800/month" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="BedroomInput">Bedrooms</label>  
              <div class="col-md-4">
              <input id="BedroomInput" name="BedroomInput" type="text" placeholder="i.e. 2" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="bathroomInput">Bathrooms</label>  
              <div class="col-md-4">
              <input id="bathroomInput" name="bathroomInput" type="text" placeholder="i.e. 1.5" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="squareftInput">Sq. ft.</label>  
              <div class="col-md-4">
              <input id="squareftInput" name="squareftInput" type="text" placeholder="1,250" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="acreInput">Acres</label>  
              <div class="col-md-4">
              <input id="acreInput" name="acreInput" type="text" placeholder="1.5" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="yearBuiltInput">Year Built</label>  
              <div class="col-md-4">
              <input id="yearBuiltInput" name="yearBuiltInput" type="text" placeholder="1905" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="styleInput">Style</label>  
              <div class="col-md-4">
              <input id="styleInput" name="styleInput" type="text" placeholder="i.e. colonial, cottage" class="form-control input-md">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="propertyTypeInput">Property Type</label>  
              <div class="col-md-4">
                <input id="propertyTypeInput" name="propertyTypeInput" type="text" placeholder="" class="form-control input-md">
                
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="amenitiesInput">Amenities</label>
              <div class="col-md-4">                     
                <textarea class="form-control" id="amenitiesInput" name="amenitiesInput" placeholder="Washer/Dryer, Hot Tub, RollerCoaster, etc..."></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Pictures</label> 
              <div class="col-md-4"><span class="glyphicon glyphicon-plus btn pull-right"></span></div>
              <!--Jquery upload file library, add click handler for add picture button-->
            </div>
            
            <div class="col-md-9">
                <button type="button" id="saveListingButton" class="btn btn-success">Save</button>
                <button type="button" id="generateQRCode" class="btn btn-success">Generate QR Code</button>
            </div>
            </fieldset>
        </form>
</div>

<div id="surveyCreation" style="display:inline">
  <form id="createSurveyForm" class="form-horizontal">
  <fieldset style="padding-top:100px">
    <legend>Survey Questions</legend>
      <div id="appendHere"></div>
  </fieldset>
  </form>
  <div class="button-group">
    <button id="createSurveyQuestion" type="button" class="btn btn-default">Create a new question</button>
  </div>
  <div id="qrCode"></div>
</div>


<script>
    $('#createListingButton').click(function () {
    document.getElementById('createListingForm').style.display = "block";
    $('#amenitiesInput').val("");
    $('#propertyTypeInput').val("");
    $('#styleInput').val("");
    $('#yearBuiltInput').val("");
    $('#acreInput').val("");
    $('#squareftInput').val("");
    $('#bathroomInput').val("");
    $('#BedroomInput').val("");
    $('#priceInput').val("");
    $('#addressInput').val("");
  });
  $('#saveListingButton').click(function () {
    //save to database
    //document.getElementById('listings').append();
    //modal popup that confirms save change
    document.getElementById('createListingForm').style.display = "none";
    //show that listing as completed in the panel
    var amenitiesInput = $('#amenitiesInput').val();
    var propertyTypeInput = $('#propertyTypeInput').val();
    var styleInput = $('#styleInput').val();
    var yearBuiltInput = $('#yearBuiltInput').val();
    var acreInput = $('#acreInput').val();
    var squareftInput = $('#squareftInput').val();
    var bathroomInput = $('#bathroomInput').val();
    var BedroomInput = $('#BedroomInput').val();
    var priceInput = $('#priceInput').val();
    var addressInput = $('#addressInput').val();
    console.log(addListing(
      addressInput,
      BedroomInput,
      bathroomInput,
      squareftInput,
      acreInput,
      priceInput,
      yearBuiltInput,
      styleInput,
      propertyTypeInput,
      amenitiesInput
    ));
  });
  $('#generateQRCode').click(function () {
  //call jquery method with survey id of the survey that was just saved
  });
  $(document).ready(function(){
    sleep(500,function(){
      var email = getUser();
      email = email?email:"Not Logged In";
      $('#userName').html(getUser());
    });
  })
  $('.listing .address').click(function(){
    console.log($(this).html());
  });

</script>
<style>
.form-group div{
  width:400px;
}
.listing.row{
  width:275px;
  background-color: #222;
  border-radius: 5px;
  padding: 15px;
  margin:auto;
  margin-bottom:5px;
  color:#fff;
}
.address{
  float:left;
}
.edit{;
  float:right;
}
.selected{
  background-color: #823;
}
</style>
</body>
</template>
<template name="listing_list">
  <ul class="nav nav-sidebar" id="listings">
    {{#each listings}}
      <li class='listing row'>{{> address}}{{> edit}}</li>
    {{/each}}
  </ul>
</template>
<template name="address">
  <div class="address span6">{{address}}</div>
</template>
<template name="edit">
  <div class='edit span6'>[survey]</div>
</template>